* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	color: #fefefe;
}

a {
	color: #fff;
	text-decoration: none;
}

li {
	display: inline-block;
}


img {
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

header {
	background-color: #121212;
	width: 100%;
	height: 90%;
}

#meteaure-logo {
	position: absolute;
	top: 2%;
	left: 0;
	height: 18%;
}

#header-text {
	position: relative;
	top: 15%;
	left: 20%;
	width: 60%;
	height: 85%;
	text-align: center;
}

#polaris-title {
	height: 14%;
	width: auto;
}

#header-text h2 {
	margin-top: 2%;
	font-size: 3em;
	font-weight: 300;
}

#header-description {
	position: absolute;
	bottom: 0;
	height: 62%;
	width: 100%;
}

#header-phone {
	max-height: 100%;
	height: 30vw;
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	vertical-align: bottom;
}

#header-right-section {
	position: absolute;
	top:  5vw;
	right: 0;
	width: 35%;
	text-align: left;
	display: inline-block;
}

#header-text p {
	font-size: 1.1em;
	margin-top: 8%;
	font-weight: 400;
	display: inline-block;
}

#alpha-button img {
	margin-top: 8%;
	width: 100%;
}

#menu {
	width: 25%;
	height: 10%;
	top: 1%;
	right: 0;
	position: fixed;
	text-align: right;
}

#menu li {
	color: #fff;
	margin-top: 4%;
	margin-right: 10%;
	height: 50%;
	font-size: 1.4em;
	font-weight: 300;
}

#polaris-link, #menu li a:hover  {
	padding-bottom: 10%;
	border-bottom: 2px solid;
}

.feature {
	height: 75%;
	margin-top: 5em;
	margin-left: 15%;
	width: 70%;
	color: #333;
	display: flex;
}

.feature-img {
	height: 100%;
	margin: auto;
}

.feature-text {
	width: 50%;
	margin: auto;
}

.feature-text h3 {
	font-size: 2.8em;
	margin-bottom: 0.8em;
	font-weight: 400;
}

.feature-text p {
	font-size: 1.4em;
	font-weight: 300;
}
	
.img-right img, .img-left .feature-text {
	order: 1; /* display on the right */
}

.img-left img {
	margin-left: 0;
}

.img-right img {
	margin-right: 0;
}

video {
    object-fit: contain;
}

.video-container {
	height: 100%;
	position: relative;
	width: 30%;
	margin: auto;
}

.phone-frame {
	height: 85%;
	top: 7.5%;
	position: absolute;
	right: 0;
}

.video-content {
	z-index: -1;
	position: absolute;
	overflow: hidden;
}

#try-it {
	margin-top: 7em;
	text-align: center;
}

#try-it h2 {
	font-size: 2.4em;
	font-weight: 600;
	color: #333;
	width: 100%;
	margin-bottom: 1em;
}

#alpha-button-bottom img {
	height: 9%;
}

footer {
	font-size: 1.1em;
	margin-top: 3em;
	margin-bottom: 1em;
	color: #333;
	text-align: center;
}

.social-icon img {
	font-size: 1.4em;
	height: 2.4em;
	color: #333;
	margin: 0 0.2em;
	margin-bottom: 1em;
}

.popup_pane {
	display: none;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.popup {
	border-radius: 10px;
	background-color: #29292b;
	position: relative;
	left: 28%;
	top: 15%;
	width: 44%;
	height: auto;
	padding: 5px 50px;
	padding-bottom: 40px;
	box-sizing: border-box;
	box-shadow: 0px -1px 20px 5px rgba(0,0,0,0.8);
}

#about h2, #joinbeta h2 {
	margin-top: 1em;
	margin-bottom: 1em;
}

#about p, #joinbeta p {
	margin-top: 1em;
	margin-bottom: 1em;
}

#about a {
	border-bottom: 2px solid;
}

.button {
	border: 2px solid white;
	padding: 3%;
	text-align: center;
	border-radius: 80px;
	cursor: pointer;
	color: #fefefe;
	background-color: rgba(0,0,0,0);
	font-size: 100%;
	padding: 10px 30px 10px 30px;
	display: inline-block;
}

.button:hover {
	background-color: #fff;
	color: #333;
}

#registration-form {
	text-align: center;
}

#email-registered {
	display: none;
	margin-top: 1%;
	text-align: center;
	color: #333;
	font-weight: 700;
	background-color: #fefefe;
	padding: 10px 20px 10px 20px;
	border-radius: 80px;
}

.close-icon {
	mask-image: url(img/cross.svg);
	-webkit-mask-image: url(img/cross.svg);
}

.close-cross {
	position: absolute;
	top: 0;
	right: 0;
	margin: 24px 24px;
	width: 20px;
	height: 20px;
	background: #fff;
	mask-size: cover;
}

.close-cross:hover,
.close-cross:focus {
	background: #aaa;
}

#email-error {
	display: none;
	margin-top: 20px;
	color: #ff7777;
	font-size: 0.9em;
}

#email {
	margin-top: 25px;
	margin-left: 10px; 
	margin-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	border-radius: 8px;
	height: 42px;
	width: 60%;
	padding: 10px 20px 10px 30px;
	border: 2px solid white;
}

#android-logo {
	margin-top: 37px;
	display: inline-block;
	height: 24px;
	background-color: rgba(0,0,0,0);
	vertical-align: top;
	margin-right: 8px;
}

/* Mobile phones: */
@media only screen and (max-width:620px) {
	
	header {
		min-height: 95%;
		height: auto;
	}

	#meteaure-logo {
		height: 10%;
	}

	#header-text {
		width: 84%;
		top:  5vh;
		left: 8%;
	}

	#polaris-title {
		height: 10%;
	}

	#header-text h2 {
		font-size: 1.8em;
		margin-bottom: 3%;
	}

	#header-description {
		position: relative;
	}

	#header-phone, #header-right-section {
		position: relative;
		width: 100%;
		height: auto;
		max-height: none;
	}

	#header-right-section {
		text-align: center;
	}

	#header-text p {
		margin-top: 4%;
	}

	#alpha-button img {
		margin-top: 8%;
		width: 75%;
	}

	.feature {
		height: auto;
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 3em;
	}

	.feature-text, #try-it{
		width: 84%;
		margin-left: 8%;
	}

	.img-left .img-right {
		margin-left: 8%;
	}

	.feature-img {
		height: unset;
		width: 100%;
	}

	.video-container {
		height: unset; /* height is set from JS */
		width: 75%;
		margin: auto;
  		margin-top: 2em;
  		margin-bottom: 5em;
	}

	.phone-frame, .video-content {
		width: 100%;
		height: auto;
	}

	#about, #joinbeta {
		left: 0%;
		top: 0%;
		width: 100%;
		height: 100%;
	}
}